body {
  background: #000000;
  padding: 0px;
  margin: 0px;
  height: 100vh; /* Set height to 100% of the viewport height */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}